<h1 class="mt-5">Pokemon List</h1>

<hr />

<div class="search">
  <input
    type="text"
    class="form-control mb-2"
    placeholder="Search pokemon"
    #txtSearch
    (keyup)="onSearchPokemon(txtSearch.value)"
  />
  <i
    class="fa fa-times search__close"
    *ngIf="term.length > 0"
    (click)="onSearchPokemon('')"
  ></i>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th [ngStyle]="{ width: '100px' }">#</th>
      <th [ngStyle]="{ width: '150px' }">Name</th>
      <th>Sprite</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let pokemon of pokemons | pagination: page:term"
      [ngStyle]="{ height: '100px' }"
    >
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>
        <img
          [src]="pokemon.picture"
          [alt]="pokemon.name"
          [ngStyle]="{ width: '75px' }"
        />
      </td>
    </tr>
    <tr *ngIf="totalOfPokemons === 0 && term.length > 0">
      <td colspan="3" align="center">
        Your search do not return any coincidences
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex">
  <div class="flex-grow-1">
    {{ page + 1 }} -
    {{ page + 5 > totalOfPokemons ? totalOfPokemons : page + 5 }} of
    {{ totalOfPokemons }} pokemons
  </div>
  <div class="flex-shrink-1">
    <button
      type="button"
      class="btn btn-primary mr-2"
      (click)="onPreviousPage()"
      [disabled]="totalOfPokemons === 0 || page === 0"
    >
      Prev
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onNextPage()"
      [disabled]="
        totalOfPokemons === 0 ||
        pokemons.length === 0 ||
        page + 5 >= totalOfPokemons
      "
    >
      Next
    </button>
  </div>
</div>
